<header>
  <span id='heading'>
    <h5>List of sermons</h5>
  </span>

  <span id='add-sermon'>
    <a ui-sref='sermons.new' class='button'>Add new sermon</a>
  </span>
</header>

<hr />
<table class='table'>
  <thead>
    <tr>
      <th>Sermon</th>
      <th>Preacher</th>
      <th>Actions</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="sermon in sermons">
      <td>{{ sermon.title }}</td>
      <td>{{ sermon.preacher }}</td>
      <td>
        <a ui-sref='sermons.show({id: sermon.id})' class='btn btn-success btn-xs'>
          <i class='fa fa-check'></i>
        </a>
      </td>
      <td>{{ sermon.date }}</td>
    </tr>
  </tbody>
</table>
