<div class='sermon-form'>

  <form>
    <fieldset>
      <legend> Some details about the sermon </legend>
      <div class='form-group'>
        <input type="text" class="form-control" id="title" placeholder="Title of the sermon" ng-model="data.sermon.title">
      </div>

      <div class='form-group'>
        <input type="text" class="form-control" id="preacher" placeholder="Preacher" ng-model="data.sermon.preacher">
      </div>

      <div class='form-group'>
        <textarea class="form-control" id="summary" placeholder="Write up of the sermon" ng-model="data.sermon.summary"></textarea>
      </div>
    </fieldset>

    <fieldset>
      <legend> Upload files </legend>
      <div class="form-group">
        <label for="image">Branding image for the sermon (Optional)</label>
        <div s3-upload bucket="'{{ bucket }}'" ng-model="files.first"
                                                             s3-upload-options="{submitOnChange: true, folder: 'images/'}" do-upload="performUpload">
        </div>
      </div>

      <div class="form-group">
        <label>Select audio file</label>
        <div s3-upload bucket="'{{ bucket }}'" ng-model="files.first"
                                                             s3-upload-options="{submitOnChange: true, folder:'audio/'}" do-upload="performUpload">
        </div>
      </div>
    </fieldset>

    <div class='form-group vertical-spacing'>
      <button type="submit" class="btn btn-block" ng-click="save()">Submit</button>
    </div>
  </form>
</div>
