<div class='sermon'>
  <div class='audio-and-image col-sm-6'>
    <img src={{sermon.branding_image_url}} alt='Branding image for the sermon'/>
    <div class='audio-player' ng-include="'partials/sermons/audio-player.html'"></div>
  </div>

  <div class='details col-sm-6'>
    <h4> {{ sermon.title }} </h4>
    <p> {{ sermon.summary }} </p>

    <!-- this stuff should all be toggled off coz its a work in progress-->
    <div class='top-border'>
      Month theme: <span> Holy Spirit </span> <br/>
      Tags: <span>Holy Spirit</span>, <span>Annointing</span>, <span>Baptism of the Holy Spirit</span>
    </div>

    <div class='top-border'>
      <p> Preacher: {{ sermon.preacher }} </p>
    </div>

    <div class='actions top-border'>
      <a href='#' class='btn btn-danger'><i class='fa fa-trash-o'></i>Delete</a>
      <a href='#' class='btn btn-primary'><i class='fa fa-pencil'></i>Edit</a>
    </div>
    <!-- end of toggle -->
  </div>
</div>
