<ul class='items'>
   <li class='item'>
     <div class='item-container'>
       Devotionals
     </div>
   </li>
   <li>
     <div class='item-container'>
       Sermons
     </div>
   </li>
   <li>
     <div class='item-container'>
       Events
     </div>
   </li>
</ul>
