<div class='row top-bar'>
  <div class='col-md-2 user'>
    <%= current_user.email %> &nbsp; &nbsp;  <%= link_to 'Logout', destroy_user_session_path %>
  </div>
</div>

<div class='row'>
  <div class='col-md-3 left-pane'>
    <ul class='items'>
      <li class='item'>
        <div class='item-container'>
          Devotionals
        </div>
        <div class='item-container'>
          Sermons
        </div>
      </li>
    <ul>
  </div>

  <div class='content'></div>
</div>
