<section id='container'>
  <header class='header white-bg'>
    <a href='#' class='logo'>PNEUMA WORD MINISTRIES</a>
    <a href="/users/sign_out" class='logout'> Logout </a>
  </header>

  <aside>
    <div id='sidebar' class='nav-collapse' tabindex='5000'>
      <ul class='sidebar-menu' id='accordion-navigation'>
        <li>
          <a ui-sref='sermons.new'>
            <i class='fui-mic'></i>
            <span>Sermons</span>
          </a>
        </li>
        <li>
          <a ui-sref='sermons.new'>
            <i class='fui-bookmark'></i>
            <span>Devotionals</span>
          </a>
        </li>
        <li>
          <a ui-sref='sermons.new'>
            <i class='fui-calendar'></i>
            <span>Events</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <!--div class='content col-md-8' ui-view></div-->
</section>



    
