<h3>Our weekly program</h3>

<table class='table'>
    <thead>
        <tr>
            <th>Day of the week</th>
            <th>Activity</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Sunday</td>
            <td>Service (8:00am - 11:00am)</td>
        </tr>

        <tr>
            <td>Monday</td>
            <td>Discipleship class (6:00pm - 8:00pm)</td>
        </tr>

        <tr>
            <td>Wednesday</td>
            <td>Men & Women Fellowship (6:00pm - 8:00pm)</td>
        </tr>

        <tr>
            <td>Thursday</td>
            <td>Huios Service (6:00pm - 8:00pm)</td>
        </tr>

        <tr>
            <td>Friday</td>
            <td>Prayer Meeting (6:00pm - 8:00pm)</td>
        </tr>

        <tr>
            <td>Saturday</td>
            <td>Word Expose Service (3:00pm - 7:00pm)</td>
        </tr>
    </tbody>
</table>