<div class='container'>
    <div class='row'>
        <div class='col-md-5'>
            <%= render "weekly_program"%>
        </div>
        <div class='col-md-3'>
            <%= render "sermons"%>
        </div>
        <div class='col-md-3'>
          <%= render 'facebook_stream'%>
        </div>
    </div>
</div>
