@import "variables";

$font-color: #ffffff;

.user {
    float: right;
}

.top-bar {
    @include background-color($pneuma-purple);
    padding: 10px;
    color: $font-color;
    a {
        text-decoration: none;
        color: $font-color; 
    }
}

.left-pane {
    @include background-color($pneuma-purple);
    color: $font-color;
    ul{
        list-style-type: none;
        .item-container {
            padding: 10px;
            border-bottom: 1px solid #cdbfe3;
        }
    }
    a {
        text-decoration: none;
        color: $font-color;
    }
}

.content {
  float: left;
  margin-left: 30px;
}

button {
  background-color: #B67BFF;
  color: #fff;
}

.sermon-form {
  margin-top: 3%;
  background-color: #fff;
  padding: 1% 2%;
}

hr {
    border: 1px solid #B67BFF;
}

#container {

  .header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;

    .logo {
      font-size: 21px;
      color: #2e2e2e;
      float: left;
      margin-top: 15px;
      text-transform: uppercase;
    }

    .logout {
      font-size: 21px;
      color: #2e2e2e;
      margin-top: 15px;
      text-transform: uppercase;
      display: block;
      float: right;
    }
  }

  #sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #2a3542;
    overflow: hidden;
    outline: none;
  }

  .spacing {
    margin: -2px 0 0;
    padding: 0;
  }

  .sidebar-menu {
    @extend .spacing;
    margin-top: 75px;

    li {
      @extend .spacing;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-right: 10px;

      a {
        color: #aeb2b7;
        text-decoration: none;
        display: block;
        padding: 15px 0 15px 10px;
        font-size: 12px;
        outline: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;

        i {
          font-size: 15px;
          padding-right: 6px;
        }

        span {
          display: inline-block;
        }
      }

      a.active {
        color: $pneuma-purple;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: block;
      }
    }
  }

  .header, .footer {
    min-height: 60px;
    padding: 0 15px;
  }

  .white-bg {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
  }
}
