// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables"; 

.sermon-row {
   margin-bottom: 20px;
   background-color: #f5f5f5;
   padding: 1%;
 }

.sermon {
  .branding-image {
    width: 10%;
    float: left;
    .image {
      height: 100px;
      width: 100px;
    }
  }

  .about-sermon {
    margin-top: -8%;
  }

  .audio-player {
    margin-top: 2.5%;
  }

}
