@import "variables";

.signin-form {
  max-width: 330px;
  margin: 100px auto 0;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;

 .signin-form-header {
   margin: 0;
   padding:20px 15px;
   text-align: center;
   background: $pneuma-purple;
   border-radius: 5px 5px 0 0;
   -webkit-border-radius: 5px 5px 0 0;
   color: #fff;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 300;
   font-family: 'Open Sans', sans-serif;
 }

 .form-control {
   position: relative;
   font-size: 16px;
   height: auto;
   padding: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 .form-control:focus {
   z-index: 2;
 }

 input[type="email"], input[type="password"] {
   margin-bottom: 15px;
   border-radius: 5px;
   margin-bottom: 15px;
   -webkit-border-radius: 5px;
   border: 1px solid #eaeaea;
   box-shadow: none;
   font-size: 12px;
 }

 .btn-signin {
   background: $pneuma-purple;
   color: #fff;
   text-transform: uppercase;
   font-weight: 300;
   font-family: 'Open Sans', sans-serif;
   margin-bottom: 20px;
 }

 .signin-wrap {
   padding: 20px;
 }
}
