@import "variables";

.sermon-form {
  margin-top: 0%;
  padding: 1% 2%;

  .align-button {
    float: left;
  }

  .align-progress-bar {
    margin-left: 4%;
    margin-top: 1.5%;
  }

  .vertical-spacing {
    margin-top: 2%;
  }

  .purple {
    background: $pneuma-purple
  }
}

.sermon {
  margin-top: 15px;

  .audio-and-image {
    float: left;

    img {
      display: block;
      width: 416px;
    }

    .audio-player {
      margin-top: 10px;
    }
  }

  .details {
    float: right;

    h4 {
      font-size: 16px;
      color: $pneuma-purple;
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
    }

    span {
      color: $pneuma-purple;
    }

    .top-border {
      border-top: 2px solid $background;
      padding: 10px;
    }
  }
}
