<!DOCTYPE html>
<html ng-app='pnuemaApp'>
<head>
  <title>PneumaWord</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller='MainController'>

  {{welcome}}

  <%= yield %>

</body>
</html>
